NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://soerjo_pg:soerjo123@100.92.245.124:5432/my_pharmacy?schema=public
JWT_ACCESS_SECRET=hwndurfhldnbgnwmzbktczoradelfewn
JWT_REFRESH_SECRET=ucqgjcuabtaespgagmendrixmgrvbeyu
JWT_ACCESS_EXPIRATION=60m
JWT_REFRESH_EXPIRATION=1d

GOOGLE_CLIENT_ID=123
GOOGLE_CLIENT_SECRET=123
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=123
SMTP_PASS=123
SMTP_FROM=noreply@example.com

FRONTEND_URL=http://localhost:3000
